<section id="header">
    <div class="wrapper">
        {%- include _includes/nav-bar.html -%}
        <div class="split">
            <div class="middle">
                <h1>Advancing AI/data mining for extremely large and diverse data for Europe and beyond, by
                    democratizing its acceleration through open standards and a healthy, competitive,
                    and innovating ecosystem.</h1>
            </div>
            <div class="middle">
                <div class="video">
                    <a class="youtube"
                       href="https://www.youtube.com/watch?v=-UZDfad-4eI"
                       target="_blank"
                       rel="noopener">Watch on YouTube.com</a>

                    <video controls muted autoplay>
                        <source src="https://d25jew5a8evv5b.cloudfront.net/intro.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>
