<section id="header">
    <div class="wrapper">
        {%- include _includes/nav-bar.html -%}
        <div class="split">
            <div class="middle">
                <div class="video">
                    <a class="youtube"
                       href="https://www.youtube.com/watch?v=-UZDfad-4eI"
                       target="_blank"
                       rel="noopener">Watch on YouTube.com</a>

                    <video controls muted autoplay>
                        <source src="{{'assets/videos/intro.mp4' | absolute_url}}" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>
