<div id="cookies-accept-dialog">
    <div>
        <h1>Cookies</h1>
        <p>Please note that we use cookies on this website to enhance your experience, provide features and to track how
            the website is used.</p>
        <p>Please click <b>accept</b> to accept our privacy &amp; cookie polices or click <b>decline</b> to disable
            cookies and related features. </p>
        <ul>
            <li><a href="/privacy/">Privacy Policy</a></li>
            <li><a href="/cookies/">Cookie Policy</a></li>
        </ul>
        <div class="buttons">
            <button class="accept">Accept</button>
            <button class="reject">Decline</button>
        </div>
    </div>
</div>
