<div id="navigation">
    <input id="navigation-checkbox" type="checkbox" />
    <div class="logo">
        <a href="{{'' | absolute_url}}">
            <div id="logo">
                <div id="visor-background"></div>
                <div id="visor"></div>
                <img src="{{'static/images/logo.svg' | absolute_url}}" alt="SYCLOPS Logo" />
            </div>
        </a>
    </div>
    <div class="items">
        <a href="{{'' | absolute_url}}"
           {% if page.url == '/' %} class="selected" {% endif %}> Home</a>
        <a href="{{'updates' | absolute_url}}"
           {% if page.url contains "updates/" %} class="selected" {% endif %}> Updates</a>
        <a href="{{'about' | absolute_url}}"
           {% if page.url contains "about.html" %} class="selected" {% endif %}> About</a>
        <a href="{{'consortium' | absolute_url}}"
           {% if page.url contains "consortium.html" %} class="selected" {% endif %}> Consortium</a>
        <a href="{{'deliverables' | absolute_url}}"
           {% if page.url contains "deliverables.html" %} class="selected" {% endif %}> Deliverables</a>
        <a href="{{'contact' | absolute_url}}"
           {% if page.url contains "contact.html" %} class="selected" {% endif %}> Contact</a>
    </div>
    <div class="burger">
        <label for="navigation-checkbox">
            <span class="material-icons">menu</span>
        </label>
    </div>
</div>
