<div id="navigation">
    <input id="navigation-checkbox" type="checkbox" />
    <div class="logo">
        <a href="{{'' | absolute_url}}">
            <div id="logo">
                <div id="visor-background"></div>
                <div id="visor"></div>
                <img src="{{'static/images/logo.svg' | absolute_url}}" alt="SYCLOPS Logo" />
            </div>
        </a>
    </div>
    <div class="items">
        <div {% if page.url == '/' %} class="selected" {% endif %}>
            <a href="{{'' | absolute_url}}">Home</a>
        </div>
        <div {% if page.url contains "about.html" %} class="selected" {% endif %}>
            <a href="{{'about' | absolute_url}}">About</a>
            <div class="drop">
                <a href="{{'about/advisory' | absolute_url}}">Advisory Board</a>
            </div>
        </div>
        <div {% if page.url contains "updates/" %} class="selected" {% endif %}>
            <a href="{{'updates' | absolute_url}}">Updates</a>
        </div>
        <div {% if page.url contains "consortium.html" %} class="selected" {% endif %}>
            <a href="{{'consortium' | absolute_url}}">Consortium</a>
        </div>
        <div {% if page.url contains "results/" %} class="selected" {% endif %}>
            <a href="{{'results' | absolute_url}}">Results</a>
            <div class="drop">
                <a href="{{'results/publications' | absolute_url}}">Publications</a>
                <a href="{{'results/deliverables' | absolute_url}}">Deliverables</a>
            </div>
        </div>
        <div {% if page.url contains "contact.html" %} class="selected" {% endif %}>
            <a href="{{'contact' | absolute_url}}">Contact</a>
        </div>
    </div>
    <div class="burger">
        <label for="navigation-checkbox">
            <span class="material-icons">menu</span>
        </label>
    </div>
</div>
