<a class="eurecom" href="https://www.eurecom.fr/en" target="_blank" rel="noopener">
  <img src="{{'static/images/partners/eurecom.png' | absolute_url}}" alt="Eurecom Logo" /></a>
<a class="inescid" href="https://www.inesc-id.pt/" target="_blank" rel="noopener">
  <img src="{{'static/images/partners/inescid.png' | absolute_url}}" alt="INESC-ID Logo" /></a>
<a class="heidelberg" href="https://www.uni-heidelberg.de/en" target="_blank" rel="noopener">
  <img src="{{'static/images/partners/heidelberg.png' | absolute_url}}" alt="Heidelberg Logo" /></a>
<a class="cern" href="https://home.web.cern.ch/" target="_blank" rel="noopener">
  <img src="{{'static/images/partners/cern.png' | absolute_url}}" alt="CERN Logo" /></a>
