<a class="codasip" href="https://codasip.com/" target="_blank" rel="noopener">
  <img src="{{'static/images/partners/codasip.png' | absolute_url}}" alt="Codasip Logo" /></a>
<a class="hiro" href="https://hiro-microdatacenters.nl/" target="_blank" rel="noopener">
  <img src="{{'static/images/partners/hiro.png' | absolute_url}}" alt="HIRO Microdatacenters Logo" /></a>
<a class="codeplay" href="https://codeplay.com" target="_blank" rel="noopener">
  <img src="{{'static/images/partners/codeplay.png' | absolute_url}}" alt="Codeplay Logo" /></a>
<a class="accelom" href="https://accelom.com/" target="_blank" rel="noopener">
  <img src="{{'static/images/partners/accelom.png' | absolute_url}}" alt="Accelom Logo" /></a>
